Django>=5.1
whitenoise>=6.8
django-crispy-forms>=2.3
crispy-tailwind>=1.0
pillow>=11.0
python-decouple>=3.8
psycopg2-binary>=2.9
gunicorn>=23.0
django-axes>=7.0
django-csp>=3.8

# pliego_licitacion / proyectos
beautifulsoup4>=4.12
python-docx>=1.0
markdown>=3.8
requests>=2.31.0
